{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="form form-login">
        <h1>Inscription</h1>

        {{form(registrationForm)}}

        <div style="padding: 10px">
            <a href="{{ path('app_login') }}" >Retourner sur la page de connexion</a>
        </div>
    </div>
{% endblock %}
