{% extends 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <div class="form">
        <h1>Edit Evenement</h1>

        {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}


        <div style="display: flex">
            {{ include('evenement/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('app_evenement_index') }}" class="long-block">back to list</a>
        
    </div>
{% endblock %}
