{% extends 'base.html.twig' %}

{% block title %}Creation Evenement{% endblock %}

{% block body %}
    <div class="form">
        <h1>Creer nouveau Evenement</h1>

        {{ include('evenement/_form.html.twig') }}


        <a href="{{ path('app_evenement_index') }}">back to list</a>
    </div>
{% endblock %}
