<div class="navbar">
    <a href="/">Accueil</a>
    <a href="/evenement">Evenements</a>
    {% if app.user %}
        <a href="{{ path('app_profile') }}">Profile</a>
        <a href="{{ path('app_participation_user') }}">Inscription</a>
        <a href="{{ path('app_logout') }}" >Logout</a>
    {% else %}
        <a href="{{ path('app_login') }}" >Login</a>
    {% endif %}
</div>
<div style="height:40px"></div>
        